.out-work {
    position: relative;
    margin: 0px;
    width: 90vw;
    left: 50%;
    height: 90vh;
    transform:translate(-50%,0px) ;
}

.MuiTableContainer-root {
    overflow-x: auto;
}

.Thead th {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background-color:  #365ed6;
}

.trow {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    background-color: white;
}

.trow:nth-of-type(odd) {
    background-color: #f0f0f0;
}

.trow:hover {
    background-color: #e9e9e9;
}

.yo{
    text-align: left;
    margin-top: 60px;
}